.root {
	-fx-background-color: "black";	
}

.label {
	-fx-font-size: 20;
	-fx-font-family: "Lucida Console";
	-fx-text-fill: "white";
	-fx-alignment: center;
}

#tittleLabel {
	-fx-font-size: 40;
	
}

#textLabel {
	
}